<ion-header>
  <ion-navbar>
    <ion-title>fivehundred</ion-title>
  </ion-navbar>
</ion-header>

<div class="winner-notification" *ngIf="gameWon === false">
  <p>You won!</p>
  <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>
</div>
<div class="loser-notification" *ngIf="gameWon === true">
    <p>You lost</p>
  </div>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <card-hand [amount]="opponent?.cardCount" [back]="true"></card-hand>  
      </ion-col>
      <ion-col col-6>
        <card-deck [amount]="gameInfo?.deckRemaining" (onCardClick)="inState('MyPickupTurn') ? drawCard() : null"></card-deck>      
      </ion-col>
      <ion-col col-6>
        <card-deck [cards]="gameInfo?.trash" (onCardClick)="inState('MyPickupTurn') ? pickupCard() : null"></card-deck>
      </ion-col>
      <ion-col col-12>
        <card-hand [cards]="player?.cards" (onCardClick)="actOnCard($event)"></card-hand>
      </ion-col>
      <ion-col col-6 offset-3>
        <button ion-button block color="primary" (click)="makePlay()" [disabled]="!inState('MyPlayTurn') && !inState('MyThrowTurn')" icon-start><ion-icon [name]="action === 'play' ? 'arrow-dropup' : 'trash'"></ion-icon> {{action === 'play' ? 'Make play' : 'Throw card'}}</button>          
      </ion-col>
      <ion-col col-3>
          <button ion-button block color="light" (click)="passTurn()" [disabled]="!inState('MyPlayTurn')" icon-start>Done</button>          
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment [(ngModel)]="action" color="primary">
      <ion-segment-button value="throw" disabled>
        Throw
      </ion-segment-button>
      <ion-segment-button value="play" disabled>
        Play
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>

<ion-fab right middle class="points-indicator">
  <button ion-fab color="secondary" [@pointsAnimation]="showPoints">+{{pointsAdded}}</button>
</ion-fab>

<ion-fab right top>
    <button ion-fab color="primary" (click)="devSwitch()">Switch</button>
</ion-fab>
  