<div class="playingCards faceImages" id="cards" *ngIf="amountArray && amountArray.length > 0">
    <ul class="deck">
        <li *ngFor="let item of (amountArray ? amountArray.slice(0, 10) : [])">
            <playing-card [card]="card" (onCardClick)="cardClicked($event)" [back]="true"></playing-card>
        </li>
    </ul>
</div>

<div class="playingCards faceImages" id="cards" *ngIf="cards && cards.length > 0">
    <ul class="deck">
        <li *ngFor="let item of (cards ? cards.length <= 10 ? cards : cards.slice(cards.length - 11, cards.length) : [])">
            <playing-card [card]="item" (onCardClick)="cardClicked($event)"></playing-card>
        </li>
    </ul>
</div>