@import 'cards';

ion-content {
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
}

ion-card.table {
    background: rgba(255, 255, 255, 0.5);

    ion-card-content {
        span.points {
            font-size: 2rem;
            color: #a92144;
            text-shadow: 2px 2px 1px rgba(#a92144,0.5);
        }
        card-hand .playingCards ul.hand {
            margin-bottom: 0;
            
            li {
                .card {
                    transform: scale(0.75);   
                }
            }
        }
    }
}